body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    margin: 0;
    padding: 20px;
    display: flex;
    gap: 20px;
}


.column {
    flex: 1;
    border-radius: 10px;
    padding: 20px;
    height: 50vh;
    color: white;
}
.red {
    background-color: #d32f2f;
}
.dark-red {
    background-color: #b71c1c;
}
.button {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}
.button span {
    margin-left: 10px;
}
.icon {
    width: 20px;
    font-size: xx-large;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
}
.eye-icon {
    width: 20px;
    height: 20px;
    display: inline-flex;
    margin-right: 10px;
}

.eye-icon img {
    width: 100%;
    height: auto;
}

.icon-text-container {
    display: flex;
    align-items: center;
    gap: 5px; 
}

.search-bar {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.folder-icon {
    width: 20px;
    height: 20px;
    display: inline-flex;
    margin-right: 10px;
}

.search-icon {
    width: 20px;
    height: 20px;
    display: inline-flex;
    margin-right: 10px;
}
input {
    border: none;
    background: transparent;
    flex-grow: 1;
    font-size: 16px;
}