body, html {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  height: 100%;
  background-color: #000;
  color: white;
  display:flex;
  flex-direction: column;
  
}

#main-text {

  position: relative;
  top: 50%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #FFFFFF;

  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

}



.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* 
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 65, 65, 0.198) 0%, rgba(0, 0, 0, 0.2) 100%), #000000;
  *//* Background */
}

.container.radial-center {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 65, 65, 0.198) 0%, rgba(0, 0, 0, 0.2) 100%), #000000;
  

}


.special-button {
  box-sizing: border-box;
  display: inline-block;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  background: radial-gradient(50% 50% at 50% 50%, rgba(240, 84, 79, 0) 50.5%, rgba(255, 8, 0, 0.2) 100%), linear-gradient(180deg, rgba(240, 84, 79, 0.3) 0%, rgba(138, 48, 45, 0.3) 100%);
  border: 0.3px solid #F0544F;
  box-shadow: 0px 4px 10px rgba(240, 84, 79, 0.25);
  border-radius: 3rem;
  transition: all ease-in-out .3s;
  transition: transform cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.1s;
  color: #FFFFFF;
  font-size: 1rem;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.special-button:hover {
  background: radial-gradient(50% 50% at 50% 50%, rgba(240, 84, 79, 0) 50.5%, rgba(255, 8, 0, 0.2) 100%), linear-gradient(180deg, rgba(240, 84, 79, 0.3) 0%, rgba(138, 48, 45, 0.3) 100%);
  box-shadow: 0px 6px 15px rgba(240, 84, 79, 0.4);
  border: 0.3px solid #f3b2b0;
}

.special-button .login-button {
width: 3rem;
height: 0.75rem;
font-size: 1rem;
}

.button-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  white-space: nowrap; 
}


.svg-background {
  position: absolute;
  top: -14rem;
  left: 0;
  width: 100%;
  background-size: 100% 100%;
  height: 100%;
  display:flex;
  max-width: 100%;
  z-index: 0;
  pointer-events: none;
 
  overflow: auto;
}

svg {
  pointer-events: none;
}





.top-bar {
  width: 50%;
  position:fixed;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(7px);
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid rgba(209, 209, 209, 0.1); /* Set border to transparent */
  margin-top: 1rem;
  border-radius: 1rem;
  z-index: 999;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  font-weight: 400;
}
nav {
  display: flex;
  gap: 3rem;
}
nav a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  font-size: 1.15rem;
  transition: all 0.3s;
}

.card-holder {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-top: 25rem;
}

.card {
  background: linear-gradient(225deg, #0e0e0e, #000000);
  backdrop-filter: blur(7px);
  padding: 20px;
  border-radius: 1rem;
  align-items: center;
  display: inline-block;
  justify-content: center;
  height: 20rem;
  width: 20rem;
  filter: drop-shadow(0px 0px 15px rgba(230, 230, 230, 0.2));
  text-align: center;
  margin-bottom: 4rem;
  
}

.card-text {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

.card-holder .card:nth-child(2) {
  width: 22rem;
  height: 23rem;
}

footer {
  width: 100%;
  
  padding: 20px 0;
  position: relative;
  margin-top: 10rem;
}

.footer-line {
  width: 100%;
  height: 2px;
  background-color: white;
  position: relative;
}



.footer-content {
  display: flex;
  flex-direction: column;
  
  align-items: center;
  margin-top: 20px;
}

.social-icons {

  display: flex;
  gap: 4rem;
  justify-content: center;
  height: 10rem;
  width: 10rem;
  margin-bottom: 10px;
}

.icon-link img {
  width: 3rem;
  height: 3rem;
}

.copyright {
  font-size: 1rem;
  color: white;
}

.headstarter-logo {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 15rem;
  height: auto;
}

nav a:hover {
color: rgba(255, 255, 255, 1);
}

.login-btn {
  background-color: rgba(170, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}
.icon-link img {

filter: invert(1);
}

line-separator {
/* LineSeperator */

position: absolute;
width: 461px;
height: 20.94px;
left: 13px;
top: 64px;


}

main {
  margin-top:20rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  padding: 20px;
}
h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  font-weight: 1300;
  filter:drop-shadow(-0.4rem 0.4rem 0.5rem rgba(0, 0, 0, 0.356));
}

h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 400;
  filter:drop-shadow(-0.4rem 0.4rem 0.5rem rgba(0, 0, 0, 0.356));
}

p {
  margin-top: 0.6rem;
  font-size: 2.5rem;
  margin-bottom: 100px;
  font-weight: normal;
  filter:drop-shadow(-0.4rem 0.4rem 0.5rem rgba(0, 0, 0, 0.356));
}

h3 {
  margin-top: 0.6rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: normal;
  filter:drop-shadow(-0.4rem 0.4rem 0.5rem rgba(0, 0, 0, 0.356));

}

.email-form {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

input[type="email"] {
  width: 25rem;
  background-color: transparent;
}

input[type="email"]:focus {
  outline: none;
  box-shadow: 0px 10px 25px rgba(240, 84, 79, 0.8); 
  background: radial-gradient(50% 50% at 50% 50%, rgba(240, 84, 79, 0.1) 50.5%, rgba(255, 8, 0, 0.3) 100%), linear-gradient(180deg, rgba(240, 84, 79, 0.4) 0%, rgba(138, 48, 45, 0.4) 100%); /* Slightly brighter background on focus */
}

.api-response {
  font-size: 1rem;
  color: white;
  font-style: italic;
  margin-top: 1rem;
}


a {
  color: white;
  text-decoration: none;
}


input[type="email"]:focus {
  outline: none;
  box-shadow: 0px 6px 18px rgba(240, 84, 79, 0.6); 
}

button[type="submit"] {
  width: 12rem;
}