.feedback-container {
  background-color: #1f1f1f;
  color: rgb(204, 204, 204);
  border-radius: 8px;
  width: 100%; /* Adjust as needed */
  padding: 2rem;
  display: flex;
  position: fixed; /* Fixed position to overlay on top */
  top: 72.5%; /* Center vertically */
  left: 0%; /* Center horizontally */ /* Center the element */
  align-items: center;
  justify-content: space-between;
  height: auto;
  max-height: 100%;
  z-index: 1000; /* Ensure it is above other elements */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
  .feedback-left-section {
    display: flex;
    flex-direction: column;
    align-items:start;
    text-align:left;
  }
  
  .feedback-text {
    font-weight: bold;
    margin-bottom: 4px;

  }

  .feedbackText {
    text-align: left;
    font-size: 1.5rem;
  }
  
  .feedback-text.correct {
    color: #608b70; /* Green color for correct feedback */
  }
  
  .feedback-text.hint {
    color: #6B7280; /* Grey color for hint feedback */
  }
  
  .feedback-right-section {
    display: flex;
    align-items: center;
  }
  
  .feedback-continue-button {
    background-color: #EF4444;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .feedback-continue-button.correct {
    background-color: #10B981; /* Green background for correct feedback */
  }
  
  .feedback-continue-button.hint {
    background-color: #6B7280; /* Grey background for hint feedback */
  }

  @media screen and (max-width: 800px) {
    .feedback-container {
      padding-left: 2rem;
      padding-right: 2rem;
      margin-left: 0;
      height: 20rem;
    }
    
  }