.courseComponentHolder{
  display: grid;
  grid-auto-rows: auto;
  gap:15px;
 
}
.sidebarText{
font-size: min(5vw,20px);
margin:0;
width: fit-content;
text-wrap: nowrap;
padding: 0;
}
.xp-progress{
  height: 10px; /* h-2 */
  width:60%;
 
  background-color: #0f3d26; /* bg-gray-700 */
  border-radius: 9999px; /* rounded-full */
}
.fadeTransition{
  position: absolute;
  width:100vw;
  height: 100vh;
  pointer-events: none;
  opacity: 0;
  background-color: var(--dark);
  z-index: 9999;
  animation: var(--transitionAnim);
}
.checkMultiQButton{
  background-color: rgb(58, 58, 58);
  padding:8px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 12px;
  align-self: start;
  justify-self: start;
}
.xp-progress-bar {
  height: 100%;
  

  transition: width 0.3s ease;
  background-color: #0ea04b; /* bg-gray-500 */
  border-radius: 9999px; /* rounded-full */
}
.sidebar{
  display: none;
  background-color: rgb(17, 17, 17);
  
  width: fit-content;
  height:100vh;
  flex-direction: column;
  
  
  margin: 0;
  
  align-items: flex-start;
  justify-content: start;
  gap:20px;
  padding:30px;
  padding-right:65px;
  padding-left:25px;
  border-top:solid rgb(44, 44, 44) 2px;
}
.sidebarMobile{
  background-color: rgb(17, 17, 17);
  position: fixed;
  width: 100%;
  z-index: 1;
  bottom: 0;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  gap:20px;
  padding:15px;
  padding-bottom: 18px;
  border-top:solid rgb(44, 44, 44) 2px;
}
.dashboardLayout{
  display: flex;
  flex-direction: column;
}
.sidebarTopMobile{
  background-color: rgb(24, 24, 24);
  position: relative;
  width: 100%;
  z-index: 1;
  top: 0;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  gap:20px;
  padding:15px;
  padding-left:25px;
  padding-right:25px;
  margin-bottom: 30px;
}
.sidebarComponent{
  color:white;
  opacity:0.3;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  width: fit-content;
  gap:15px;
}
.questionHolder{
  max-width: 100%;
  display: flex;
  margin-top: 80px;
  margin-bottom: 100px;
  flex-direction: column;
}
.question{
  font-size: max(30px,5vw);
}
.typedResponse{
  background-color: rgb(65, 65, 65);
  border:0; border-radius: 10px;
  outline:none
}
.questionChoice{
  border-radius: 9px;
  color:var(--light);
  background-color: rgb(44, 44, 44);
  border:0;
  font-family: "Quicksand", sans-serif;
  padding: 0.3rem 0.7rem;
  cursor: pointer;
  font-size: 15px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.courseComponent{
  
  animation: fadeIn  0.5s ease-in   ;
  opacity:1;
  
}

.outerProgressBar{
  margin-top: 20px;
  width:70vw;
  height:20px;
  background-color: rgb(46, 46, 46);
  border-radius: 10px;
}
.innerProgressBar{
  
  
  height: 100%;
  background-color: var(--accent1);
  border-radius: 10px;
}
.lessonTeachings{
  color:rgb(172, 172, 172);
  font-size: 20px;
  line-height: 28px;
  text-align: left;
  width: 90vw;
  text-wrap:wrap;
}
.finishlessonbtn{
  box-sizing: border-box;
  z-index: 2;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  pointer-events: auto;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  white-space: nowrap; 
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  background-color: rgb(16, 158, 75);
  border: 0;

  
  border-radius: 3rem;
 
  transition: transform cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.1s;
  transition: all ease-in-out 0.3s;
  
  font-size: 1rem;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.courseLocked{
  filter: brightness(1) blur(5px);
}
.courseLockedBG{
  border: max(2px,0.12vw) solid rgba(255, 255, 255, 0.034);
  background-color: rgb(32, 32, 32);
  filter: brightness(0.8);
}

.courseComponentTitle{
  color:rgb(180, 180, 180);
  text-shadow: none;
  margin: 0;
  font-size: 30px;
  text-align: left;
  width: 100%;
}
.courseComponentDescription{
  margin: 0;
  color:rgb(124, 124, 124);
  font-size: 20px;
  text-align: left;
  width:70%;
  
}
.courseComponentBackgroundIcon{
  width:150px;
  height:150px;
  position: absolute;
  top:10%;
  left:56%;
  transform: rotateZ(15deg);
}
.lessonComponent{
    background-color: rgb(70, 70, 70);
    text-align: center;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.267), inset 0 -0.35em 0 rgba(0, 0, 0, 0.308), 0 0.35em 0.35em rgba(0, 0, 0, 0.219);
    border:0;
    border-radius: 999px;
    width: 80px;
    height:78px;
    margin:max(5px,0.4vw);
    color : var(--light);
    opacity:1;
    font-family: "Quicksand", sans-serif;
    cursor: pointer;
    transition: all ease-in 0.1s;
    display: flex;
    justify-content: center; /* Centers children horizontally */
    align-items: center;
    animation: fadeInOpacityOnly  0.4s ease-in  1 ;
}
.gotRight{
  background-color: var(--correctAnswer);
}
.gotWrong{
  background-color: var(--wrongAnswer);
}
.lessonComponent:hover{
  transition: all ease-in 0.1s;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.267), inset 0 -0.25em 0 rgba(0, 0, 0, 0.308), 0 0.25em 0.25em rgba(0, 0, 0, 0.219);
  height:76px;
  margin-top:max(7px,0.5vw);
  margin-bottom:max(5px,0.395vw);
}
.lessonComponent.focused .speech-bubble{
  transition: all ease-in 0.1s;
  opacity: 1;
  scale: 1;
}



#wipText{
  
  color:var(--light);
  width:90%;
  opacity: 0.5;
  font-size: max(19px,1vw);
  margin-top: max(45px,10vw);
}

.lessonComponent svg{
height: 40px;
margin-bottom: 5px;
}
.speech-bubble {
  --bgColor : rgb(0,0,0);
  transition: all ease-in 0.1s;
  
  opacity: 0;
  scale: 0;
  margin: 0;
  margin-top: 220px;
  width:180px;
  height:90px;
  font-size: 20px;
   /* Center itself horizontally */
	position: absolute;
	background:var(--bgColor) ;
	border-radius: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  filter:drop-shadow(0 0px 10px rgba(0, 0, 0, 0.699));
  align-items: center;
  padding:13px;
  justify-content:space-between;
  z-index: 2;
}

.buttonBubbleSpeech{
  box-sizing: border-box;
  z-index: 2;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  pointer-events: auto;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  white-space: nowrap; 
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.144);
  border: 0;

  
  border-radius: 3rem;
 
  transition: transform cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.1s;
  transition: all ease-in-out 0.3s;
  
  font-size: 1rem;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.speech-bubble:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 8px solid transparent;
	border-bottom-color:var(--bgColor) ;
	border-top: 0;
	margin-left: -8px;
	margin-top: -7px;
}
.lessonPageTitle{
  display: flex;
  align-items: center;
  
  justify-content: space-between;
  flex-direction:column-reverse;
  gap:25px;
    font-size: max(40px,6vw);
    width: 100vw;
    text-align: center;
    margin-bottom: max(5px,0.2vw);
}

.lessonTitle{
  letter-spacing: 0.05em;
  display: flex;
  flex-direction: column;
  font-size: max(40px,6vw);
  width: 100%;
  align-items: start;
  text-align: center;
  margin-bottom: 50px;
}

.lessonPageDescription{
  color:rgb(102, 102, 102);
    font-size: max(25px,3.3vw);
    width: 90vw;
    text-align: center;
    margin-top:8px;
    margin-bottom: max(35px,4vw);
}
.lessonPageClose{
  cursor: pointer;
  margin-right: max(230px,35vw);
}
.lessonPageClose:hover{
  opacity: 0.8;
}
main {
    margin-top:7rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-bottom: 13em;
  }
  #percentageComplete {
    color:var(--accent1);
    font-size: 35px;
    filter:drop-shadow(0rem 0rem 0.3rem var(--accent1));
    margin-bottom: 5rem;
  }
  
  @media only screen and (min-width: 425px) {
    .outerProgressBar{
     
      width:260px;
      height:20px;
      
    }
  }
  /* Medium devices such as tablets (768px and up) */
  @media only screen and (min-width: 768px) {
    
  }
  @media only screen and (min-width: 1024px) {
    .sidebarText{
      font-size: 15px;
      
      }
   .lessonPageTitle{
    width: 54vw;
    text-align: left;
    font-size: max(40px,3vw);
    flex-direction:row;
   }
   .questionHolder{
    max-width: 70vw;
    
  }
   .outerProgressBar{
     width:300px;
    align-self: flex-start;
  }
   .lessonTitle{
    width: 54vw;
    text-align: left;
    align-items: center;
    justify-content: space-between;
    font-size: max(40px,3vw);
    flex-direction: row;
  }
  .question{
    font-size: max(40px,2vw);
  }
  .questionChoice{
    font-size: max(20px,0.2vw);
  }
   .lessonPageClose{
    margin-right: 0;
  }
   .courseComponentHolder{
    width: 70vw;
    grid-auto-rows: repeat(2,200px);
    grid-template-columns: repeat(auto-fit,300px);
    gap:20px;
  }
  .lessonPageDescription{
   
      font-size: max(22px,2vw);
      width: 70vw;
      text-align: left;
     
      margin-bottom: max(35px,4vw);
  }
  .lessonTeachings{
    width: 70vw;
  }
  .sidebar{
    display: flex;
  }
  .sidebarMobile{
    display: none;
  }
  .sidebarTopMobile{
    display: none;
  }
  .dashboardLayout{
    flex-direction: row;
  }
  }
  @media only screen and (min-width: 1280px) {
    .lessonPageTitle{
      width: 54vw;
      text-align: left;
     }
     .questionHolder{
      max-width: 54vw;
      
    }
     .lessonTitle{
      width: 54vw;
      text-align: left;
    }
     .lessonPageClose{
     width:30px;
     height:30px;
    }
     .courseComponentHolder{
      width: 54vw;
      grid-auto-rows: repeat(2,200px);
      grid-template-columns: repeat(auto-fit,300px);
      gap:20px;
    }
    
    .lessonPageDescription{
     
        font-size: max(22px,1.5vw);
        width: 54vw;
        text-align: left;
        margin-top:8px;
        margin-bottom: max(35px,4vw);
    }
    .lessonTeachings{
      width: 54vw;
    }
  }
  @keyframes fadeIn {
    0%{opacity: 0; scale: 0;}
    10%{scale: 1;}
    100%{opacity: 1;scale: 1; }
    }
    @keyframes fadeInOut {
      0%{opacity: 0; }
      35%{opacity: 1;}
      65%{opacity: 1;}
      100%{opacity: 0;}
      }
    @keyframes fadeInOpacityOnly {
      0%{opacity: 0; }
      100%{opacity: 1; }
      }