@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import url("./fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  color: white;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-x: hidden;
  box-sizing: border-box;
  border: 0;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  --topBarColor: rgba(255, 255, 255, 0.021);
  --topBarGlow: rgba(9, 209, 99, 0.301);
  --darker: rgb(10, 10, 10);
  --dark: rgb(20, 20, 20);
  --light: rgb(224, 224, 224);
  --subTextColor: rgb(146, 146, 146);
  --accent1: rgb(24, 204, 120);
  --accent1Btn: rgba(9, 119, 86, 0.521);
  --accent2: rgb(255, 255, 255);
  --lessonLocked: rgb(41, 41, 41);
  --lessonComplete: rgb(13, 156, 77);
  --lessonInComplete: rgb(12, 175, 85);

  --correctAnswer: rgb(27, 143, 75);
  --wrongAnswer: rgb(202, 52, 41);

  background-color: var(--dark);
  text-wrap: wrap;
}
.pixelText {
  font-family: "VT323", monospace;
  font-size: larger;
  color: var(--accent1);
}
header {
  width: 100%;
  position: fixed;

  backdrop-filter: blur(4px);

  z-index: 999;
}
.mobileHeader {
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  width: 100%;
  top: 101%;
  display: flex;
  flex-direction: column;
  padding-left: 5em;
  padding-top: 0.4em;
  border-bottom: max(1.5px, 0.5vw) solid rgba(255, 255, 255, 0.13);
  background: var(--accent1);
  height: fit-content;
}
textarea {
  background-color: var(--accent1Btn);
  outline: 0;
  border: 0;
  color: var(--light);
  height: max(140px, 1vw);
  width: 100%;
  border-radius: 0.1rem;
}
textarea::placeholder {
  color: var(--light);
}
#main-text {
  position: relative;
  top: 50%;

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #ffffff;

  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.feedbackForm {
  width: 70%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 15px;
  align-items: left;
}
.feedbackForm input {
  max-width: 100%;
  width: 60%;
  text-align: left;
}
.createAccHomepageForm {
  width: 70%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.createAccHomepageForm input {
  max-width: 100%;
  width: 100%;
  text-align: left;
}
::placeholder {
  color: #333333;
  opacity: 0.6; /* Firefox */
}
.container.radial-center {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(255, 65, 65, 0.198) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    #000000;
}

.button {
  box-sizing: border-box;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;

  text-align: center;
  color: #ffffff;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  background-color: var(--accent1);
  border: 0;

  filter: drop-shadow(0px 0px 1.5rem var(--accent1Btn));
  border-radius: 3rem;

  transition: transform cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.1s;
  transition: all ease-in-out 0.3s;

  font-size: 1rem;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.button:hover {
  scale: 1.1;
  transition: all 0.25s;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.form-title {
  width: 17.5rem;
  font-size: 2rem;
  margin-top: 1rem;
  text-align: center;
}
.login-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}
.login-container .button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}
.login-btn {
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}
.button-text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;

  text-align: center;
  color: #ffffff;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  white-space: nowrap;
}
.svg-background {
  position: absolute;
  top: -14rem;
  left: 0;
  width: 100%;
  background-size: 100% 100%;
  height: 100%;
  display: flex;
  max-width: 100%;
  z-index: 0;
  pointer-events: none;

  overflow: auto;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  font-weight: 500;
}
nav {
  display: none;
}
nav a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  font-size: 1.15rem;
  transition: all 0.3s;
}
.card-holder {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-top: 25rem;
}
.card {
  background: linear-gradient(225deg, #0e0e0e, #000000);
  backdrop-filter: blur(7px);
  padding: 20px;
  border-radius: 1rem;
  align-items: center;
  display: inline-block;
  justify-content: center;
  height: 20rem;
  width: 20rem;
  filter: drop-shadow(0px 0px 15px rgba(230, 230, 230, 0.2));
  text-align: center;
  margin-bottom: 4rem;
}
.card-text {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}
.card-holder .card:nth-child(2) {
  width: 22rem;
  height: 23rem;
}
footer {
  width: 100%;

  padding: 20px 0;
  margin-top: 10rem;
}
.footer-line {
  width: 100%;
  height: 2px;
  background-color: white;
  position: relative;
}

.footer-content {
  display: flex;
  flex-direction: column;

  align-items: center;
  margin-top: 20px;
}

.social-icons {
  display: flex;
  gap: 4rem;
  justify-content: center;
  height: 2rem;
  width: 10rem;
  margin-bottom: 10px;
}

.copyright {
  font-size: 1rem;
  color: white;
}
.headstarter-logo {
  position: relative;
  margin-top: max(15px, 0.5vw);
  width: min(200px, 50%);
  height: auto;
}
nav a:hover {
  color: rgba(255, 255, 255, 1);
}
.login-btn {
  background-color: rgba(170, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

line-separator {
  /* LineSeperator */

  position: absolute;
  width: 461px;
  height: 20.94px;
  left: 13px;
  top: 64px;
}

h1 {
  margin: 0;
  color: var(--light);
  width: 90vw;
  text-align: center;
  text-wrap: wrap;
  overflow-wrap: break-word;
  font-size: max(35px, 1vw);
  margin-bottom: 1rem;
  font-weight: normal;
  filter: drop-shadow(-0.4rem 0.4rem 0.5rem rgba(0, 0, 0, 0.356));
}

h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 400;
  filter: drop-shadow(-0.4rem 0.4rem 0.5rem rgba(0, 0, 0, 0.356));
}

h3 {
  margin-top: 0.6rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: normal;
  filter: drop-shadow(-0.4rem 0.4rem 0.5rem rgba(0, 0, 0, 0.356));
}

.email-form {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.api-response {
  font-size: 1rem;
  color: white;
  margin-top: 5rem;
}

a {
  color: white;
  text-decoration: none;
}

.userProfileName {
  font-size: 4rem;
  color: white;
  margin-top: 1rem;
}

.statBubble {
  background-color: #181818;
  border-radius: 1rem;
  color: #ffffff;
  margin-top: 1rem;
  filter: drop-shadow(0.4rem 0.4rem 0.5rem rgba(0, 0, 0, 0.356));
  padding: 1rem;
  width: 30rem;
}

.userProfileName {
  font-size: 4rem;
  color: white;
  margin-top: 1rem;
}

.statBubble {
  background-color: #333333;
  border-radius: 1rem;
  filter: drop-shadow(0.4rem 0.4rem 0.5rem rgba(0, 0, 0, 0.356));
  padding: 1rem;
  width: 30rem;
}

.visible {
  display: block;
}
.hidden {
  display: none;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s forwards;
  transition: opacity 1s ease-in-out;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media only screen and (min-width: 425px) {
  header {
    width: 100%;
    padding: max(13px, 1vw);
    border-radius: 0;
  }
}
/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {
  header {
    width: 100%;
    padding: max(13px, 1vw);
    border-radius: 0;
  }
}
/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 4rem;
  }
  p {
    font-size: 2.5rem;
  }
  nav {
    display: flex;
  }
  textarea {
    width: 60%;
  }
  .feedbackForm {
    max-width: 60%;
  }
  header {
    width: 75%;
    margin-top: 1rem;
  }
  .mobileHeader {
    display: none;
  }
}
/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {
  .feedbackForm input {
    max-width: 100%;
    width: 40%;
    text-align: left;
  }
  .feedbackForm {
    width: 43%;
  }
  header {
    width: 55%;
    padding: 13px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@font-face {
  font-family: "Somatic";
  src: url("../fonts/Somatic.otf") format("opentype");
  font-display: swap;
}
