@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=VT323&display=swap');
body, html {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  height: 100%;
  
  color: white;
  display:flex;
  flex-direction: column;
  --topBarColor : rgba(255, 255, 255, 0.021);
  --topBarGlow: rgba(9, 209, 99, 0.301);
  --darker : rgb(255,255,255);
  --dark : rgb(14, 13, 15);
  --light : rgb(255,255,255);
  --subTextColor : rgb(146, 146, 146);
  --accent1 : rgb(9, 209, 116);
  --accent1Btn : rgba(9, 119, 86, 0.521);
  --accent2 : rgb(255,255,255);
  background-color: var(--dark)
}
.vt323 {
  font-family: "VT323", monospace;
  font-size: larger;
  color:var(--accent1);
}
#main-text {

  position: relative;
  top: 50%;

  
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
 
  color: #FFFFFF;

  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

}



.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* 
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 65, 65, 0.198) 0%, rgba(0, 0, 0, 0.2) 100%), #000000;
  *//* Background */
}

.container.radial-center {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 65, 65, 0.198) 0%, rgba(0, 0, 0, 0.2) 100%), #000000;
  

}


.special-button {
  box-sizing: border-box;
  display: inline-block;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  background: radial-gradient(rgba(240, 84, 79, 0),var(--accent1Btn));
  border: 0.3px solid var(--accent1);
  box-shadow: 0px 4px 10px var(--accent1Btn);
  border-radius: 3rem;
 
  transition: transform cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.1s;
  transition: all ease-in-out 0.3s;
  color: #FFFFFF;
  font-size: 1rem;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  
}

.special-button:hover {
  scale:1.1;
  transition: all 0.25s;
  
  box-shadow: 0px 6px 15px var(--accent1Btn);
  
}

.special-button .login-button {
width: 3rem;
height: 0.75rem;
font-size: 1rem;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.form-title {
  width: 17.5rem;
  font-size: 2rem;
  margin-top: 1rem;
  text-align: center;
}

.login-container input  {
  width: 100%;
  padding: 10px;
  margin: 10px 0;

}

.login-container .special-button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.login-btn {
  background-color: rgba(170, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.button-text {
  
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  white-space: nowrap; 
}


.svg-background {
  position: absolute;
  top: -14rem;
  left: 0;
  width: 100%;
  background-size: 100% 100%;
  height: 100%;
  display:flex;
  max-width: 100%;
  z-index: 0;
  pointer-events: none;
 
  overflow: auto;
}

svg {
  pointer-events: none;
}





.top-bar {
  width: 50%;
  position:fixed;
  
  backdrop-filter: blur(7px);
  
  border: 3px solid transparent;
  background: var(--topBarColor);
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid rgba(255, 255, 255, 0.322); */  
  /* Set border to transparent */
  margin-top: 1rem;
  border-radius: 1rem;
  z-index: 999;
}


.logo {
  font-size: 24px;
  font-weight: bold;
  font-weight: 500;
  
}
nav {
  display: flex;
  gap: 3rem;
}
nav a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  font-size: 1.15rem;
  transition: all 0.3s;
}

.card-holder {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-top: 25rem;
}

.card {
  background: linear-gradient(225deg, #0e0e0e, #000000);
  backdrop-filter: blur(7px);
  padding: 20px;
  border-radius: 1rem;
  align-items: center;
  display: inline-block;
  justify-content: center;
  height: 20rem;
  width: 20rem;
  filter: drop-shadow(0px 0px 15px rgba(230, 230, 230, 0.2));
  text-align: center;
  margin-bottom: 4rem;
  
}

.card-text {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

.card-holder .card:nth-child(2) {
  width: 22rem;
  height: 23rem;
}

footer {
  width: 100%;
  
  padding: 20px 0;
  position: relative;
  margin-top: 10rem;
}

.footer-line {
  width: 100%;
  height: 2px;
  background-color: white;
  position: relative;
}



.footer-content {
  display: flex;
  flex-direction: column;
  
  align-items: center;
  margin-top: 20px;
}

.social-icons {

  display: flex;
  gap: 4rem;
  justify-content: center;
  height: 10rem;
  width: 10rem;
  margin-bottom: 10px;
}

.icon-link img {
  width: 3rem;
  height: 3rem;
}

.copyright {
  font-size: 1rem;
  color: white;
}

.headstarter-logo {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 15rem;
  height: auto;
}

nav a:hover {
color: rgba(255, 255, 255, 1);
}

.login-btn {
  background-color: rgba(170, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}
.icon-link img {

filter: invert(1);
}

line-separator {
/* LineSeperator */

position: absolute;
width: 461px;
height: 20.94px;
left: 13px;
top: 64px;


}

main {
  margin-top:20rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  padding: 20px;
  
}
h1 {
  color:var(--light);
  font-size: 4rem;
  margin-bottom: 1rem;
  font-weight: 1300;
  filter:drop-shadow(-0.4rem 0.4rem 0.5rem rgba(0, 0, 0, 0.356));
}

h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 400;
  filter:drop-shadow(-0.4rem 0.4rem 0.5rem rgba(0, 0, 0, 0.356));
}

p {
  margin-top: 0.6rem;
  font-size: 2.5rem;
  margin-bottom: 100px;
  font-weight: normal;
  filter:drop-shadow(-0.4rem 0.4rem 0.5rem rgba(0, 0, 0, 0.356));
  color:var(--subTextColor);
}

h3 {
  margin-top: 0.6rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: normal;
  filter:drop-shadow(-0.4rem 0.4rem 0.5rem rgba(0, 0, 0, 0.356));

}

.email-form {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

input[type="email"] {
  width: 25rem;
  background-color: transparent;
}

input[type="email"]:focus {
  outline: none;
  box-shadow: 0px 10px 25px rgba(240, 84, 79, 0.8); 
  background: radial-gradient(50% 50% at 50% 50%, rgba(240, 84, 79, 0.1) 50.5%, rgba(255, 8, 0, 0.3) 100%), linear-gradient(180deg, rgba(240, 84, 79, 0.4) 0%, rgba(138, 48, 45, 0.4) 100%); /* Slightly brighter background on focus */
}

.api-response {
  font-size: 1rem;
  color: white;
  margin-top: 5rem;
}


a {
  color: white;
  text-decoration: none;
}


input[type="email"]:focus {
  outline: none;
  box-shadow: 0px 6px 18px rgba(240, 84, 79, 0.6); 
}

button[type="submit"] {
  width: 12rem;
}


.fade-in {
  opacity: 0;
  animation: fadeIn 1s forwards;
  transition: opacity 1s ease-in-out;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

